@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply flex items-center justify-center h-8 w-8 min-h-[32px] min-w-[32px];
  }
  .default {
    @apply fill-[#ffffffb3] hover:fill-white active:fill-[#ffffffb3];
  }
  .gradient-theme {
    @apply bg-gradient-to-t from-[#00000044] via-[#00000042] to-[#00000044];
  }
  .nav-li {
    @apply flex gap-4 items-center h-10
    text-[#ffffffb3] hover:text-white fill-[#ffffffb3] hover:fill-white font-bold
    hover:cursor-pointer;
  }
  .nav-li-selected {
  }
  .ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }
  .div-center {
    @apply flex justify-center items-center;
  }
  .card-grid {
    @apply grid grid-cols-3 grid-rows-2 gap-x-6 gap-y-3;
  }
  .card-item {
    @apply text-sm select-none bg-[#ffffff1a] rounded-[4px] min-h-[80px] flex items-center gap-4 p-4 hover:bg-[rgba(255,255,255,0.15)] active:bg-[#ffffff1a];
  }
}
@font-face {
  font-family: spotify-circular;
  font-style: normal;
  font-weight: 200;
  src: url(assets/fonts/CircularSp-Light.ttf);
}
@font-face {
  font-family: spotify-circular;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/CircularSp-Book.ttf);
}
@font-face {
  font-family: spotify-circular;
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/CircularSp-Bold.ttf);
}
@font-face {
  font-family: spotify-circular;
  font-style: normal;
  font-weight: 900;
  src: url(assets/fonts/CircularSp-Black.ttf);
}
/* @font-face {
  font-family: spotify-regular;
  src: url(src/assets/fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: spotify-bold;
  src: url(src/assets/fonts/CircularStd-Bold.otf);
} */
body {
  font-family: spotify-circular;
  font-weight: 400;
  color: white;
  cursor: default;
}
a,
button {
  cursor: default;
}
ul,
ol {
  list-style: none;
}
a img {
  display: block;
}

/* split gutter hover */
.gutter {
  border: 5px solid transparent;
  margin: 0 -6px;
  z-index: 1;
}
.gutter:hover {
  cursor: col-resize;
}
.split-right {
  border-left: 1px solid transparent;
}
.gutter:hover + .split-right,
.gutter:active + .split-right,
.gutter:hover + .split-right .split-right,
.gutter:active + .split-right .split-right {
  border-left: 1px solid #505050;
}

/* tailwind nested group */
.toggle-pb-img:hover > svg {
  fill: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: transparent;
}
