@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply flex items-center justify-center h-8 w-8 min-h-[32px] min-w-[32px];
  }
  .default {
    @apply fill-[#ffffffb3] hover:fill-white active:fill-[#ffffffb3];
  }
  .gradient-theme {
    @apply bg-gradient-to-t from-[#00000044] via-[#00000042] to-[#00000044];
  }
}
@font-face {
  font-family: spotify-regular;
  src: url(src/assets/fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: spotify-bold;
  src: url(src/assets/fonts/CircularStd-Bold.otf);
}
body {
  font-family: spotify-regular;
  font-weight: lighter;
  color: white;
  letter-spacing: 0.01rem;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
}
a,
button {
  all: unset;
}
a img {
  padding: 0;
  margin: 0;
  display: block;
}

/* split gutter hover */
.gutter {
  border: 5px solid transparent;
  margin: 0 -6px;
  z-index: 1;
}
.gutter:hover {
  cursor: col-resize;
}
.split-right {
  border-left: 1px solid transparent;
}
.gutter:hover + .split-right,
.gutter:active + .split-right,
.gutter:hover + .split-right .split-right,
.gutter:active + .split-right .split-right {
  border-left: 1px solid #505050;
}

/* tailwind nested group */
.toggle-pb-img:hover > svg {
  fill: white;
}
