.pb-extra-controls {
  justify-content: end;
  align-items: center;
}
.pb-lyrics {
  padding-left: 2px;
  box-sizing: border-box;
}
.pb-volume {
  display: flex;
  flex: 0 1 125px;
  align-items: center;
}
