.bottom {
  display: flex;

  padding: 17px 16px;
  background-color: #181818;
  border-top: 1px solid #282828;
}
.pb-info {
  width: 30%;
  display: flex;
}
.pb-controls {
  display: flex;
  flex-direction: column;

  width: 40%;
  max-width: 722px;
}
.pb-extra {
  width: 30%;
  display: flex;
}
