header {
  display: flex;
  align-items: center;
  justify-content: right;

  height: 64px;
  padding: 16px;
  box-sizing: border-box;

  background-color: #070606;
  border-left: 2px solid #070606;
  margin-left: -2px;
}