.dasdasdasdasdheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  padding: 16px 32px;
  box-sizing: border-box;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #12121280);
  margin-left: px;
}
