.login-button {
  background-color: #1ed760;
  padding: 14px 28px;
  border-radius: 28px;
}
.login-button:hover {
  background-color: #1ed760b3;
}
.login-button:active {
  background-color: #1ed76080;
  transform: scale(0.95);
}
