@font-face {
  font-family: spotify-regular;
  src: url(../fonts/CircularStd-Light.otf)
}
@font-face {
  font-family: spotify-bold;
  src: url(../fonts/CircularStd-Bold.otf)
}
body {
  margin: 0;

  font-family: spotify-regular;
  font-weight:lighter;
  color: white;

  cursor: default;
}
a, button {
  all: unset;
}
.main-screen {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-areas: 
    "top"
    "bottom";
  grid-template-rows: auto 91px;
}
.top {
  grid-area: top
}
.bottom {
  grid-area: bottom;
}

.button-svg {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button-svg svg {
  width: 16px;
  height: 16px;
}